<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="0." android:versionName="1.0" package="PomodoriTimer.PomodoriTimer" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="29" />
	<application android:label="PomodoriTimer.Android" android:icon="@mipmap/PomodoroIcon"></application>
	<uses-permission android:name="android.permission.VIBRATE" />
</manifest>